.dialog-pane {
    background-color: #2E343B;
    -fx-background-color: #2E343B;
}

.dialog-title {
    font-size: 18px;
    -fx-font-size: 18px;
    color: #E2E2E2;
    -fx-text-fill: #E2E2E2;
}

.dialog-error {
    font-size: 13px;
    -fx-font-size: 13px;
    color: #FF6B6B;
    -fx-text-fill: #FF6B6B;
}

.dialog-success {
    font-size: 13px;
    -fx-font-size: 13px;
    color: #77FF6B;
    -fx-text-fill: #77FF6B;
}