.text-field {
    -fx-border-width: 0px;
    border-width: 0px;
    -fx-border-color: #00000000;
    border-color: #00000000;
    -fx-background-color: #24292F;
    background-color: #24292F;
    -fx-border-radius: 4px;
    border-radius: 4px;
    -fx-background-radius: 6px;
    color: #E2E2E2;
    -fx-text-fill: #E2E2E2;
    -fx-prompt-text-fill: #929292;
}

.text-field:hover {
    cursor: text;
    -fx-cursor: text;
    -fx-background-color: #1F2329;
    background-color: #1F2329;
}

.text-field:focused {
    -fx-border-radius: 4px;
    border-radius: 4px;
    -fx-background-radius: 6px;
    -fx-border-width: 2px;
    border-width: 2px;
    -fx-border-color: #E9531D;
    border-color: #E9531D;
}

.button {
    -fx-border-width: 0px;
    border-width: 0px;
    -fx-border-color: #00000000;
    border-color: #00000000;
    -fx-background-color: #24292F;
    background-color: #24292F;
    -fx-border-radius: 4px;
    border-radius: 4px;
    -fx-background-radius: 6px;
    color: #E2E2E2;
    -fx-text-fill: #E2E2E2;
}

.button:hover  {
    -fx-background-color: #1F2329;
    background-color: #1F2329;
    cursor: hand;
    -fx-cursor: hand;
}

.button:focused {
    -fx-border-radius: 4px;
    border-radius: 4px;
    -fx-background-radius: 6px;
    -fx-border-width: 2px;
    border-width: 2px;
    -fx-border-color: #E9531D;
    border-color: #E9531D;
}

.fill-button {
    -fx-background-color: #EF5B25;
    background-color: #EF5B25;
}

.fill-button:hover {
    -fx-background-color: #E24911;
    background-color: #E24911;
}

.fill-button:focused {
    -fx-border-color: #E2E2E2;
    border-color: #E2E2E2;
}

.focus-indicator {
    -fx-border-color: transparent;
    border-color: transparent;
}

.scroll-bar {
    -fx-background-color: #24292F;
    background-color: #24292F;
}

.scroll-bar > .thumb {
    background-color: #2E343B;
    -fx-background-color: #2E343B;
}

.scroll-bar:vertical > .increment-button {
    -fx-padding: 6px 4px 4px 4px;
    padding: 6px 4px 4px 4px;
    -fx-background-color: #24292F;
    background-color: #24292F;
}

.scroll-bar:vertical > .decrement-button {
    -fx-padding: 4px 4px 6px 4px;
    padding: 4px 4px 6px 4px;
    -fx-background-color: #24292F;
    background-color: #24292F;
}

.scroll-bar:horizontal > .increment-button {
    -fx-padding: 4px 6px 4px 4px;
    padding: 4px 6px 4px 4px;
    -fx-background-color: #24292F;
    background-color: #24292F;
}

.scroll-bar:horizontal > .decrement-button {
    -fx-padding: 4px 4px 4px 6px;
    padding: 4px 4px 4px 6px;
    -fx-background-color: #24292F;
    background-color: #24292F;
}

.corner {
    -fx-background-color: #24292F;
    background-color: #24292F;
}

.context-menu {
    background-color: #24292F;
    -fx-background-color: #24292F;
    -fx-border-width: 0px;
    border-width: 0px;
    -fx-border-color: #00000000;
    border-color: #00000000;
    -fx-border-radius: 4px;
    border-radius: 4px;
    -fx-background-radius: 6px;
    color: #E2E2E2;
    -fx-text-fill: #E2E2E2;
}

.menu-item > .label {
    color: #E2E2E2;
    -fx-text-fill: #E2E2E2;
}

.menu-item:focused {
    background-color: #2E343B;
    -fx-background-color: #2E343B;
    cursor: hand;
    -fx-cursor: hand;
}