.project-main-div, .project-page {
    -fx-background-insets: 0px;
}

.project-first-header, .project-second-header {
    background-color: #171a1f;
    -fx-background-color: #171a1f;
}

.tree-view, .tree-cell {
    background-color: #24292F;
    -fx-background-color: #24292F;
    -fx-background-insets: 0px;
    color: #E2E2E2;
    -fx-text-fill: #E2E2E2;
}

.tree-cell:expanded {
    background-color: #2E343B;
    -fx-background-color: #2E343B;
}

.tree-cell:filled:hover {
    background-color: #333A42;
    -fx-background-color: #333A42;
    cursor: hand;
    -fx-cursor: hand;
}

.tree-cell .arrow {
    background-color: #E2E2E2;
    -fx-background-color: #E2E2E2;
    -fx-effect: null;
    -fx-background-insets: 0px;
}

.tree-cell:filled:hover .arrow {
    background-color: #EF5B25;
    -fx-background-color: #EF5B25;
}

.tree-cell:selected {
    background-color: #E24911;
    -fx-background-color: #E24911;
}

.tree-cell:empty {
    background-color: #24292F;
    -fx-background-color: #24292F;
}

.split-pane > .split-pane-divider {
    -fx-background-color: #31373f;
    background-color: #31373f;
}

.split-pane > .split-pane-divider:pressed {
    -fx-background-color: #E24911;
    background-color: #E24911;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-padding: 0px 2px;
    padding: 0px 2px;
}

.split-pane:vertical > .split-pane-divider {
    -fx-padding: 0px 2px;
    padding: 0px 2px;
}

.tab-header-area {
    -fx-background-insets: 0, 0 0 0 0px;
    -fx-padding: 0.0em 0.166667em 0.0em 0.0em;
    padding: 0.0em 0.166667em 0.0em 0.0em;
}

.tab-header-background {
    background-color: #171a1f;
    -fx-background-color: #171a1f;
}

.tab-label {
    color: #E2E2E2;
    -fx-text-fill: #E2E2E2;
}

.tab {
    background-color: #24292F;
    -fx-background-color: #24292F;
}

.tab:selected {
    background-color: #2E343B;
    -fx-background-color: #2E343B;
}

.tab:hover {
    cursor: hand;
    -fx-cursor: hand;
    background-color: #333A42;
    -fx-background-color: #333A42;
}

.titled-pane {
    color: #E2E2E2;
    -fx-text-fill: #E2E2E2;
}

.titled-pane > .title {   
    -fx-border-radius: 0px;
    border-radius: 0px;
    -fx-background-radius: 0px;
    background-color: #171a1f;
    -fx-background-color: #171a1f;
    color: #E2E2E2;
    -fx-text-fill: #E2E2E2;
}

.arrow-button {
    background-color: transparent;
    -fx-background-color: transparent;
}

.arrow-button:focused {
    -fx-border-width: 0px;
    border-width: 0px;
}

.arrow-button > .arrow {
    background-color: #E2E2E2;
    -fx-background-color: #E2E2E2;
    -fx-effect: null;
    -fx-background-insets: 0px;
}

.column-header-background {
    background-color: #2E343B;
    -fx-background-color: #2E343B;
}

.column-header-background .label {
    color: #E2E2E2;
    -fx-text-fill: #E2E2E2;
    -fx-font-weight: normal;
    font-weight: normal;
}

.filler {
    background-color: transparent;
    -fx-background-color: transparent;
}

.column-header {
    background-color: #2E343B;
    -fx-background-color: #2E343B;
    -fx-border-width: 0px 1px 0px 0px;
    border-width: 0px 1px 0px 0px;
    -fx-border-color: #24292F;
    border-color: #24292F;
}

.table-cell {
    background-color: #171a1f;
    -fx-background-color: #171a1f;
    -fx-border-width: 0px 1px 1px 1px;
    border-width: 0px 1px 1px 1px;
    -fx-border-color: #24292F;
    border-color: #24292F;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0px 8px;
    padding: 0px 8px;
    color: #E2E2E2;
    -fx-text-fill: #E2E2E2;
    -fx-font-weight: normal;
    font-weight: normal;
    -fx-effect: none;
}

.text-area {
    background-color: #333A42;
    -fx-background-color: #333A42;
    -fx-padding: 5px 0px 0px 0px;
    padding: 5px 0px 0px 0px;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    border-radius: 0px;
    color: #E2E2E2;
    -fx-text-fill: #E2E2E2;
    -fx-font-weight: normal;
    font-weight: normal;
    -fx-effect: none;
}

.text-area .content {
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    border-radius: 0px;
    background-color: #171a1f;
    -fx-background-color: #171a1f;
    -fx-font-weight: normal;
    font-weight: normal;
}

.text-area > .scroll-pane {
    -fx-padding: 0px;
    padding: 0px;
}

.choice-box {
    -fx-border-width: 0px;
    border-width: 0px;
    -fx-border-color: #00000000;
    border-color: #00000000;
    background-color: #2E343B;
    -fx-background-color: #2E343B;
    -fx-border-radius: 4px;
    border-radius: 4px;
    -fx-background-radius: 6px;
    -fx-mark-color: #EF5B25;
}

.choice-box:hover  {
    background-color: #24292F;
    -fx-background-color: #24292F;
    cursor: hand;
    -fx-cursor: hand;
}

.choice-box:focused {
    -fx-border-radius: 4px;
    border-radius: 4px;
    -fx-background-radius: 6px;
    -fx-border-width: 2px;
    border-width: 2px;
    -fx-border-color: #E9531D;
    border-color: #E9531D;
}

.choice-box > .label {
    color: #E2E2E2;
    -fx-text-fill: #E2E2E2;
}

.choice-box .arrow {
    background-color: #E2E2E2;
    -fx-background-color: #E2E2E2;
    -fx-effect: null;
    -fx-background-insets: 0px;
}

.choice-box:hover .arrow {
    background-color: #EF5B25;
    -fx-background-color: #EF5B25;
}

.choice-box:focused .arrow {
    background-color: #EF5B25;
    -fx-background-color: #EF5B25;
}

.blank-box {
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    border-radius: 0px;
    background-color: #171a1f;
    -fx-background-color: #171a1f;
}

.blank-box-label {
    -fx-font-weight: normal;
    font-weight: normal;
    color: #E2E2E2;
    -fx-text-fill: #E2E2E2;
}