.project-main-div, .project-page {
    -fx-background-insets: 0px;
}

.project-first-header, .project-second-header {
    background-color: #171a1f;
    -fx-background-color: #171a1f;
}

.project-tree {
    background-color: #2E343B;
    -fx-background-color: #2E343B;
    -fx-background-insets: 0px;
}

.split-pane-divider {
    -fx-background-color: #31373f;
    background-color: #31373f;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-padding: 0px 2px;
    padding: 0px 2px;
}

.split-pane:vertical > .split-pane-divider {
    -fx-padding: 0px 2px;
    padding: 0px 2px;
}

.tab-header-area {
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0.0em 0.166667em 0.0em 0.0em;
    padding: 0.0em 0.166667em 0.0em 0.0em;
}

.tab-header-background {
    background-color: #171a1f;
    -fx-background-color: #171a1f;
}

.tab-label {
    color: #E2E2E2;
    -fx-text-fill: #E2E2E2;
}

.tab {
    background-color: #24292F;
    -fx-background-color: #24292F;
}

.tab:selected {
    background-color: #2E343B;
    -fx-background-color: #2E343B;
}

.tab:hover {
    cursor: hand;
    -fx-cursor: hand;
    background-color: #333A42;
    -fx-background-color: #333A42;
}

.titled-pane {
    color: #E2E2E2;
    -fx-text-fill: #E2E2E2;
}

.titled-pane > .title {   
    -fx-border-radius: 0;
    border-radius: 0;
    -fx-background-radius: 0;
    background-color: #171a1f;
    -fx-background-color: #171a1f;
    color: #E2E2E2;
    -fx-text-fill: #E2E2E2;
}

.arrow-button {
    background-color: transparent;
    -fx-background-color: transparent;
}

.arrow-button:focused {
    -fx-border-width: 0;
    border-width: 0;
}

.arrow-button > .arrow {
    background-color: #E2E2E2;
    -fx-background-color: #E2E2E2;
    -fx-effect: null;
    -fx-background-insets: 0;
}